
.my_header_text{
   font-size: 20px;
   line-height: 60px;
}
.my_header_text img{
   width:13px;
   height:13px;
   transition:0.5s;
}
/*.zhuan:hover{*/
   /*transform:rotate(180deg);*/
/*}*/
/*.fanZhuan:hover{*/
   /*transform:rotate(-180deg);*/
/*}*/
.my_header_text li a{
   text-underline: none;
   color: rgba(225, 225, 225, 0.9);
}
.my_header_text li a:hover{
   color: rgba(255, 255, 255, 0.9);
}
.my_header_nav{
   background: rgba(225,225,225,0.4);
   border-bottom: 1px solid rgba(225,225,225,0.6);
   height:60px;
   z-index: 9999;
   position:absolute;
   width: 100%;
   margin-left: 0;
   margin-top: 0;
   padding-left: 0;
   padding-right: 0;
   font-weight: 400;
}
.my_nav_img{
   height:60px;
}
.my_banner{
   z-index: 1;
   position:absolute;
   width: 100%;
   height:600px;
}
/*轮播图遮罩层，但是暂时解决不了出现遮罩层时还能点击轮播图*/
/*.banner-zheZhao{*/
   /*width: 100%;*/
   /*height:600px;*/
   /*position:absolute;*/
   /*background: rgba(0, 0, 0);*/
   /*opacity:0.1;*/
   /*z-index: 1;*/
/*}*/
@media screen and (max-width:1200px) and (min-width:768px) {
   .my_header_text{
      font-size: 17px;
   }
   .my_header_li{
      padding-left: 1.5rem !important;
   }
}
@media screen and (min-width:769px){
   .my_header_btn{
      display:none;
   }
   .my_header_smlogo{
      display:none;
   }
}
@media screen and (max-width:960px){
   .my_nav_img{
      width:61px;
   }
}
@media screen and (max-width:768px){
   .my_header_1{
      display:none;
   }
   .my_header_nav{
      background: #0a0c11;
      width:100%;
      height:48px;
      border:none;
      margin-top: 0;
   }
   .my_banner{
      margin-top:48px;
      /*background-image: url("../img/header/smallbg.jpg");*/
      /*background-repeat:no-repeat;*/
      /*background-position:center center;*/
      /*background-size:cover;*/
      /*background-attachment:scroll;*/
      width:100%;
      height:450px;
   }
}
/*导航栏下拉菜单*/
.header-nav-select-game{
   width:100%;
   height:220px;
   position: absolute;
   background: linear-gradient(to right,rgba(21,26,34,0.97) 0%,rgba(37,47,64,0.96) 50%,rgba(21,26,34,0.97) 100%);
   top: 60px;
   left: 0;
   display: none;
   /*transition:all 5000s linear;*/
}
.header-nav-select-game2{
   width:100%;
   /*min-height: 300px;*/
   /*height:auto;*/
   position: absolute;
   top: 60px;
   left: 0;
   display: none;
   transition:0.6s;
}
.header-nav-select-img ul{
   width:90%;
   height:130px;
   margin:0 auto;
}
.header-nav-select-img li{
   min-width:80px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
/*下拉动画*/
.down1,.down2,.down3,.down4,.down5,.down6,.down7,.down8{
   margin-top: 20px;
   opacity: 1 !important;
   transition-duration: 0.5s;
   transition-delay: 0s;
}
.down2{
   transition-delay: 0.05s;
}
.down3{
   transition-delay: 0.1s;
}
.down4{
   transition-delay: 0.15s;
}
.down5{
   transition-delay: 0.2s;
}
.down6{
   transition-delay: 0.25s;
}
.down7{
   transition-delay: 0.3s;
}
.down8{
   transition-delay: 0.35s;
}


.selectIn{
   width:100%;
   /*min-height: 300px;*/
   height:220px;
   position: absolute;
   top: 60px;
   left: 0;
   /*display: none;*/
}

.header-nav-select-img{
   width:100%;
   min-height: 130px;
   height:auto;
   margin: 20px auto;
}
.gamedown1,.gamedown2,.gamedown3,.gamedown4,.gamedown5,.gamedown6,.gamedown7,.gamedown8{
   opacity: 0;
}
.header-nav-select-img img{
   width:64px;
   height:64px;
   /*margin-top: 15px;*/
}

/*hover失效????*/
.header-nav-select-img ul li a img:hover{
   opacity:1 !important;
}
.header-nav-select-match{
   width:100%;
   height:306px;
   position: absolute;
   background: linear-gradient(to right,rgba(21,26,34,0.97) 0%,rgba(37,47,64,0.96) 80%,rgba(21,26,34,0.97) 100%);
   top: 60px;
   left: 0;
   display: none;
}
.header-nav-select-match2{
   width:100%;
   position: absolute;
   /*min-height: 324px;*/
   /*height:auto;*/
   top: 60px;
   left: 0;
   text-align: center;
   display: none;
   transition:0.6s;
}
.header-nav-select-matchimg a{
   font-size: 13px;
}
.header-nav-select-match2 li{
   opacity:0;
}
.select2In{
   width:100%;
   min-height: 324px;
   height:auto;
   position: absolute;
   top: 60px;
   left: 0;
   /*display: none;*/
}
.header-nav-select-matchimg{
   width:960px;
   min-height: 234px;
   height:auto;
   margin: 0 auto 20px auto;
}
.header-nav-select-matchimg img{
   width:192px;
   height:192px;
   /*margin-top: 15px;*/
}
.header-nav-select-txt{
   width:100%;
   height:50px;
   line-height: 10px;
   text-align: center;
   margin: 0 auto;
   border-top:0.5px solid rgba(225,225,225,0.3);
}

.my_header_btn{
   /*border:0.1rem solid #00aeff;*/
   width:48px;
   height:48px;
   /*color:#00aeff;*/
   border:none;
   /*background-color: #0a0c11;*/
   line-height: 48px;
}
.my_header_btn:hover{
   color: #00aeff;
   /*background-color: #0a0c11;*/
   /*border-color: #0a0c11;*/
}
.my_header_smlogo{
   width:61px;
   height:48px;
}

/*右边下拉菜单*/
.header_right_select{
   width:318px;
   height:166px;
   position: absolute;
   top:60px;
   right:20px;
   background: linear-gradient(to top,rgba(21,26,34,0.97) 0%,rgba(40,49,67,0.96) 100%);
   overflow: hidden;
   display:none;
}
.header_right_select li{
   border-bottom: 0.5px solid rgba(225,225,225,0.4);
   padding:0.5px 20px;
   line-height: 44px;
}
.header_right_select .select_button_right{
   width:278px;
}
.right_select_big img{
   width:13px;
   height:13px;
   transition:0.5s;
}

/*左侧边栏*/
#my_nav_left_selection{
   width:303px;
   height:100%;
   position: fixed;
   top: 0px;
   left:-312px;
   background: #151a23;
   z-index: 10000;
   /*overflow-y: auto;*/
   overflow-x: hidden;
   transition:all .2s linear;
}
#my_nav_left_selection::-webkit-scrollbar {display:none}
#gameList img,#gameList2 img{
   width: 13px;
   height: 13px;
   transition: 0.5s;
}
.nav_list_left_topUl li,.nav_list_right_topUl li{
   border-bottom: 0.5px solid rgba(225,225,225,0.4);
   width:303px;
   padding:0px 20px;
   height:44px;
   line-height: 44px;
}
.my_nav_select_logo{
   height:80px !important;
   padding-left: 13px !important;
}
.my_nav_select_logo img{
   margin-left: 42px;
   height:65px;
   margin-top: 7px;
}
.nav_list_left_bottomUl li{
   width:303px;
   padding:0px 20px;
   height:44px;
   line-height: 44px;
}
.dropdown-manu{
   background: #0f1218;
   z-index: 10000;
   margin-left: -20px;
   /*width:303px;*/
   /*height:500px;*/
}
.dropdown-manu a{
   display:inline-block;
}
.dropdown-manu li{
   width:303px;
   padding:0px 20px;
   height:44px;
   line-height: 44px;
   background: #0f1218;
   border:none;
}
.dropdown-manu li a img{
   width:24px;
   height:24px;
}
.testHeight{
   min-height:44px;
   height:auto !important;
}
.left_select_border,.left_select_border2{
   width:10px;
   height:44px;
   position: absolute;
   margin-left: -20px;
   background: #0aa1ed;
   display:none;
}
.Navbar-registered {
   position: relative;
   font-size: 70%;
   line-height: inherit;
   bottom: 0.4em;
}
.nav_list_left_bottomUl a{
   color:rgba(225,225,225,0.6);
}
.leftMove{
   left:0 !important;
}
.rightMove{
   right:0 !important;
}

/*右侧边栏*/
#my_nav_right_selection{
   width:303px;
   height:100%;
   position: fixed;
   top: 0px;
   /*right:0px;*/
   right:-303px;
   background: #151a23;
   z-index: 10000;
   overflow-y: hidden;
   overflow-x: hidden;
   transition:all .2s linear;
}
.select_button_right{
   width:263px;
   height:38px;
   padding:10px 50px;
   margin:0 auto;
}
.my_nav_selectRight_risign{
   height:78px !important;
   padding-top:15px !important;
}
#colseRightSelect{
   margin-left: 248px;
   font-size:20px;
}
#colseLeftSelect{
   font-size: 20px;
   vertical-align: top;
   line-height: 54px;
}
.my_nav_selectRight_close{
   height:48px !important;
   line-height: 54px !important;
}

